/* Body styles */
body {
    background-color: #c7e7e7;
}

/* Main navigation styles */
#main-navigation {
    background-color: #390281;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

/* Posts container styles */
#all-posts {
    margin: 7rem auto;
    width: 90%;
    max-width: 60rem;
}

/* Post headings */
#all-posts h2 {
    text-align: center;
    font-size: 2rem;
    color:#2e2e2e;
    margin:3rem 0;
}

ul {

    list-style:none;
    margin:0;
    padding: 0;
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(17rem,1fr));
    gap:1.5rem;
}

/* Individual post image styles */
.post img {
    width: 7rem;
    height: 7rem;
}

/* Post link styles */
.post a {
    height: 22rem;
    transform-origin: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: white;
}